<ol class="items-list droppable">
  {{#each spells as |spells spellLevel|}}
    <li class="item flexrow items-header">
      <div class="item-name">Sort de Cout {{spellLevel}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add Sort {{spellLevel}}</a>
      </div>
    </li>
    {{#each spells as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control rollable" title="Edit Item" data-action="acteur.edit.sort.{{item._id}}.{{item.name}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item" data-action="acteur.del.sort.{{item._id}}.{{item.name}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>