<form class="{{cssClass}} {{actor.type}} droppable flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
            <strong>Race :</strong> {{NomRace}}<br>
            <strong>Tribut :</strong> {{NomTribut}}<br>
            <strong>metier :</strong> {{NomMetier}}<br>
            <strong>taille :</strong> {{system.taille.value}} ({{infoTaille}} : {{infoTailleCm}})<br>
          <hr>
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.PdV.value" class="resource-label">PdV</label>
            <input class="normal-input" type="text" name="system.PdV.value"  size="3em" value="{{system.PdV.value}}" data-dtype="Number"/>
            <span> / </span>
            <input class="normal-input" size="3em" type="text" name="system.PdV.max" value="{{system.PdV.max}}" data-dtype="Number"/>
          </div>
          <hr>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.Songe.value" class="resource-label">Songe <a class="rollable" data-action="songe.recalcul"><i class="fa-solid fa-arrows-rotate"></i></a></label>
            <input type="text" name="system.Songe.value" value="{{system.Songe.value}}" data-dtype="Number"/>
          </div>
          <label for="system.Songe.Points.value" class="resource-label">Pts de Songe</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.Songe.Points.value" value="{{system.Songe.Points.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.Songe.Points.max" value="{{system.Songe.Points.max}}" data-dtype="Number"/>
          </div>
          <label for="system.Songe.dette.value" class="resource-label">Dette</label>
          <input class="normal-input" size="3em" type="text" name="system.Songe.dette.value" value="{{system.Songe.dette.value}}" data-dtype="Number"/>
          <span> <br>Niv. Protection : <select name="system.combat.protection.value">
                {{selectOptions lstArmures selected=system.combat.protection.value}}
              </select></span>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.Cauchemard.value" class="resource-label">Cauchemard</label>
            <input type="text" name="system.Cauchemard.value" value="{{system.Cauchemard.value}}" data-dtype="Number"/>
          </div>
          <label for="system.Cauchemard.value" class="resource-label">Pts de Cauchemard</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.Cauchemard.Points.value" value="{{system.Cauchemard.Points.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.Cauchemard.Points.max" value="{{system.Cauchemard.Points.max}}" data-dtype="Number"/>
          </div>
          <div>
            <label for="system.Cauchemard.dette.value" class="resource-label">Dette</label>
            <input class="normal-input" size="3em" type="text" name="system.Cauchemard.dette.value" value="{{system.Cauchemard.dette.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>
    <div class="flexrow">
        <label class="flex3 resource-label">Compagnie : {{NomCompagnie}}</label>
        <label for="system.ecorse" class="resource-label">Ecorces</label>
        <input type="text"  size="6em" name="system.ecorse.value" value="{{system.ecorse.value}}" data-dtype="Number"/>
        <label class="resource-label align-center">Auto-Dialogue :<br><a class="rollable" data-action="diag.auto.toggle">{{#if autoDialogue}} <i class="fas fa-toggle-on"></i>On</a>{{else}}<i class="fas fa-toggle-off"></i>Off</a>{{/if}}</label>
    </div>
    <div >
      <label class="resource-label">Pouvoir : </label>{{DescPouvoir}}
      <label class="resource-label">Condition : </label>{{CondPouvoir}}
    </div>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="cmp">Compétences</a>
    <a class="item" data-tab="description">Descriptions</a>
    <a class="item" data-tab="items">Equipements</a>
    <a class="item" data-tab="spells">Sorts</a>
    {{!--  <a class="item" data-tab="effects">Effets</a> --}}
  </nav>

  {{!-- Sheet Body : pensez à modifier le style pour l'enleve 7 permets d'avoir ce que je veux XXX --}}
  <section class="sheet-body" style="flex: 7;">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="cmp">
      {{> "systems/lesoublies/templates/actor/parts/actor-cmp.html"}}
    </div>
      {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/lesoublies/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/lesoublies/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/lesoublies/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

