<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"></h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="resource">
      <label class="resource-label">Possède des domaines
        <input type="checkbox" name="system.aDomaines" {{checked system.aDomaines}}/> 
      </label><br>
      <label class="resource-label">Domaines (séparés par des virgules)</label>
      <textarea name="system.domaines" rows="3">{{{system.domaines}}}</textarea>
    </div>
    <label class="resource-label">Profil</label>
    <input type="text" name="system.profil" value="{{system.profil}}" data-dtype="String"/>
    <label class="resource-label">Score </label>
    <input type="text" name="system.score" value="{{system.score}}" data-dtype="Number"/>
    <label class="resource-label">
      <input type="checkbox" name="system.estFermee" {{checked system.estFermee}}/> Est Fermée ?
    </label>
    <label class="resource-label">
      <input type="checkbox" name="system.estMagique" {{checked system.estMagique}}/> est Magique ?
    </label>
    <br>
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      <label class="resource-label">Description :</label>
      <hr>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </section>
</form>