<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">taille (</label>
          <input type="checkbox" name="system.tailleRel" {{checked system.tailleRel}} />Relatif)
          <input class="normal-input" size="3em" type="text" name="system.taille" value="{{system.taille}}" data-dtype="Number"/>
          <br>Dommage par defaut : {{system.taille}}
        </div>
        <div class="resource">
          <label class="resource-label">Ecorse</label>
          <input class="normal-input" size="3em" type="text" name="system.ecorse" value="{{system.ecorse}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div><h3>Explication condensée</h3>
        <textarea name="system.textRapide" rows="3">{{system.textRapide}}</textarea>
      </div>
      <h3>Description détaillé</h3>
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <div class="grid grid-2col" >
          <div>
            <div class="resource">
              <label class="resource-label">Force minimum</label>
              <input class="normal-input" size="3em" type="text" name="system.forceMin" value="{{system.forceMin}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">Portée en cm :</label>
              <input class="normal-input" size="3em" type="text" name="system.portee" value="{{system.portee}}" data-dtype="Number"/>
            </div>
            <hr>
            <label class="resource-label">Competence associé</label>
            <div>
              <select name="system.cmpId">
                {{selectOptions lstCmp selected=system.cmpId}}
              </select>
            </div>
            <hr>
        </div>
        <div>
          <div class="resource">
            <label class="resource-label">Bonus de compétences :</label>
            <input class="normal-input" size="3em" type="text" name="system.bonus.score" value="{{system.bonus.score}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label class="resource-label">Bonus de dommage</label>
            <input class="normal-input" size="3em" type="text" name="system.bonus.degats" value="{{system.bonus.degats}}" data-dtype="Number"/>
          </div>
          <hr>
          <div class="resource">
            <label class="resource-label">Dés de Dommage : </label>
            <input class="normal-input"  type="text" name="system.formuleDom" value="{{system.formuleDom}}" data-dtype="String"/>
          </div>
          <hr>
        </div>
      </div>
      <label>Primes et Penalités<br>Utilisez les combobox pour selectioner la prime ou la pénalité puis appyez sur <i class="fas fa-circle-plus"></i>, cliquez directement sur la prime ou la pénalité que vous souhaitez enlèvée</label>
      <div class="grid-2col">
        <div>
          <label>Primes :  <a class="cmd" data-action="arme.add.Prime"><i class="fas fa-circle-plus"></i></a><select name="selectPrime">
            {{selectOptions lstPrimes selected=selecPrime}} </select><br>
          </label>
          <div class="grid-border">
            {{#each Primes as |pe key|}}
              <span class="word-encadre cmd" data-action="arme.del.Prime.{{key}}"> {{pe}}</span>
            {{/each}}
          </div>
        </div>
        <div>
          <label>Pénalités : <a class="cmd" data-action="arme.add.Penalite"><i class="fas fa-circle-plus"></i></a>
          <select class="normal-input" name="selectPenalite" style="width: 180px !important;"> {{selectOptions lstPenalites selected=selecPenelites}}
        </select> <br></label>
          <div class="grid-border">
            {{#each Penalites as |pe key|}}
              <span class="word-encadre cmd" data-action="arme.del.Penalite.{{key}}"> {{pe}}</span>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
