<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">taille</label>
          <input class="normal-input" size="3em" type="text" name="system.taille" value="{{system.taille}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Protection max</label>
          <input class="normal-input" size="3em" type="text" name="system.protection" value="{{system.protection}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Ecorse</label>
          <input class="normal-input" size="3em" type="text" name="system.ecorse" value="{{system.ecorse}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div> Indication : ces valeurs sont pour une extensdion future et ne sont pas encore utilisées</div>
      <div class="resource">
        <label class="resource-label">Malus</label>
        <input type="text" name="system.malus" value="{{system.malus}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">Formule de Protection</label>
        <input type="text" name="system.deProtection" value="{{system.deProtection}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">Liste des Primes(séparer par des pt virgules)</label>
        <input type="text" name="system.primes" value="{{system.primes}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">Liste des Pénalités(séparer par des pt virgules)</label>
        <input type="text" name="system.penalites" value="{{system.penalites}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
