<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Détails</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="details">
      {{!-- As you add new fields, add them in here! --}}
      <div class="flexrow">
        <div class="resource">
          <label class="resource-label">Songe ou Cauchemard</label>
          <select name="system.codeSouC">
            {{selectOptions LstSongeCauch selected=system.codeSouC}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Compétence magique</label>
          <select name="system.cmpMagie">
            {{selectOptions LstCmpMagie selected=system.cmpMagie}}
          </select>
        </div>
      </div>
        <div class="resource">
        Cout fixe ? :<input type="checkbox" name="system.coutFixe" {{checked system.coutFixe}} />
        {{#if system.coutFixe}}<label class="resource-label">{{typeSort}} : </label>
        <input class="normal-input" size="3em" title="Cout en fils de Songe ou de Cauchemard" type="text" name="system.cout" value="{{system.cout}}" data-dtype="Number"/>
        {{/if}}
      </div>
      <div class="flexrow">
        <div class="resource">
          <label class="resource-label">Préparation</label>
          <input type="text" name="system.preparation" value="{{system.preparation}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">Durée</label>
          <input type="text" name="system.duree" value="{{system.duree}}" data-dtype="String"/>
        </div>
      </div>
      <div class="flexrow">
        <div class="resource">
          <label class="resource-label">Portée</label>
          <input type="text" name="system.portee" value="{{system.portee}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">Dommage</label>
          <input title="Si zero ne donne pas de dommages" type="text" name="system.dommage" value="{{system.dommage}}" data-dtype="Number"/>
        </div>
      </div>
      <div class="resource">
        <label class="resource-label">Air d'effet</label>
        <input type="text" name="system.airDEffet" value="{{system.airDEffet}}" data-dtype="String"/>
      </div>
      <label class="resource-label">
        <input type="checkbox" name="system.cumul" {{checked system.cumul}}/> Peut se cumuler
      </label>
      <label class="resource-label">
        <input type="checkbox" name="system.exclusifF" {{checked system.exclusifF}}/> est dans la liste des farfadets
      </label>
      <label class="resource-label">
        <input type="checkbox" name="system.armureCompte" {{checked system.armureCompte}}/> l'armure compte si cela produit des dommages.
      </label>
      <div class="resource">
        <label class="resource-label">Description de l'effet</label>
        <textarea name="system.effet" rows="3">{{{system.effet}}}</textarea>
      </div>
    </div>
  </section>
</form>
